<h1>Chief User Information</h1>

<p>
  <strong>Username:</strong>
  <%= @user.chief_username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.chief_email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.chief_password %>
</p>
