<h1>*Chief Key.f Wishlist!*</h1>

<h3>CSS</h3>
<h3>Get Sign-in to chill</h3>
<h3></h3>
<h3>Error mgs</h3>
<h3>Flash msgs</h3>
<h5>-Signin/out</h5>
      <br>
<h1>*How to get better*</h1>
<h3>Take a 15-20 min break every 45min - 1hour</h3>
<h3>Relax and proceed logically</h3>
<h1>PMA</h1>




<%= link_to 'My Users', controller: 'users' %>


<h4>By EJ Sorrento</h4>
<h4>716-472-4778</h4>
<h4>ejsorrento@gmail.com</h4>
