<h1>Current accounts</h1>



<%= link_to 'New Account', new_user_account_path %>


<h3>
  <strong><% @accounts.each do |account| %></strong>
     <strong>Website:</strong>
     <strong><%= account.website %></strong>
     <strong><%= link_to 'Show', user_account_path(@user, account.id) %></strong>
     <% end %>
 </strong>
</h3>









<%= link_to 'Return to Chief User', @user %> |
