<h1>Current accounts</h1>





<div>
<h2>Website:</h2>

<% @accounts.each do |account| %>
     <h4><%= account.website %></h4>
     <h4><%= link_to 'Show', user_account_path(@user, account.id) %></h4>
 <% end %>

</div>







<%= link_to 'New Account', new_user_account_path %> |
<%= link_to 'Return to Chief User', @user %>
